if TARGET_MINDGROVE_S24XX

config SYS_BOARD
    string
    default "s24xx"

config SYS_VENDOR
    string
    default "mindgrove"

config SYS_CPU
    string
    default "generic"

config SYS_CONFIG_NAME
    string
    default "mindgrove-s24xx"

config SYS_TEXT_BASE
    hex
    default 0x80200000 if SPL
    default 0x80000000 if !RISCV_SMODE
    default 0x80200000 if RISCV_SMODE

config SPL_TEXT_BASE
    hex
    default 0x08000000

config SPL_OPENSBI_LOAD_ADDR
    hex
    default 0x80000000

config SYS_LOAD_ADDR
    hex
    default 0x80000000

config BOARD_SPECIFIC_OPTIONS # dummy
    def_bool y
    select GENERIC_RISCV
    select RISCV_MMODE
    select RISCV_SMODE
    select RAM
    imply MINDGROVE_SERIAL
    imply SPL
    imply SPL_RISCV_MMODE
    imply SPL_OPENSBI
    imply SPL_LOAD_FIT

endif
