CONFIG_RISCV=y
CONFIG_SYS_MALLOC_F_LEN=0x3000
CONFIG_ENV_SIZE=0x20000
CONFIG_NR_DRAM_BANKS=1
#CONFIG_SPL=y
CONFIG_TARGET_SHAKTI_VCU118=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_DEFAULT_DEVICE_TREE="shakti-vcu118"
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_BAUDRATE=115200
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
CONFIG_DEBUG_UART_SHAKTI=y
